body{
    text-align: center;
}

.div1{
    background-image: url(/assets/pizza.webp);
    color: #000000;
    height: 300px;
    width: 500px;
    object-fit: cover;
    object-position: center;
}

.div2{
    background-color: rgb(55, 229, 252);
    color: brown;
    height: 120px;
    width: 120px;
}